/*------ FOOTER ------*/
footer{
	grid-area:footer;
	display: flex;
	justify-content: center;
	align-items: center;
	background:rgba(0,0,0,0.9);
	backdrop-filter:blur(3px);
}

.contenedor-redes{
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	p{
	width: 100%;
	display: inline-block;
	color:white;
	padding:5px 20px;
	}
}

.redes-sociales{
	margin-top: 50px;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	display: flex;
}

.derechos-autor{
	font-size: .8em;
}

.fa-facebook-f{
	transition: 1s ease all;
	padding:5px 5px;
	border-radius: 10%;
	&:hover{
		transform: scale(1.1,1.1);
	}

}

.fa-instagram{
	@extend .fa-facebook-f;
}

.fa-whatsapp{
	@extend .fa-facebook-f;
}



/* mapa color redes */
$redes:(
	facebook: #3b5998,
	whatsapp: #25D366,
	instagram: #E1306C,
);

@each $nombre, $color in $redes{
	.boton-#{$nombre}{
	background: $color;
	}
}