*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@mixin medidas_contenedor($ancho, $alto){
	width:$ancho;
	height:$alto;
}

$display_flex:(
	propiedad: flex,
	direccionr:  row,
	direccionc: column
);

$color_titulos: #036CA2;
$color_btn: #57BEE8;
$hover_btn: #036CA2;



@import "grid/estructura_grid.scss";
@import "header/header.scss";
@import "portada/portada.scss";
@import "main/main.scss";
@import "productos/productos.scss";
@import "formulario/formulario.scss";
@import "footer/footer.scss";
@import "mediaqueryes/mediaqueryes.scss";

